# HW4
### Total points: 100 (5% of final grade).
### Due: 11:59 pm, Nov 7th, 2024
## Name: XX

## Question 1. String Manipulation. (6 pts)
Extract the last names from the person list below, and save the result in a list.

In [14]:
personList = [ 'Julia Smith', 'Francis Drake', 'Michael Mason',  
                'Jennifer Johnson', 'John Williams', 'Susanne Walker',  
                'Kermit the Frog', 'Dr. Melissa Franklin', 'Papa John', 
                'Walter John Miller', 'Frank Michael Robertson', 'Richard Robertson', 
                'Erik D. White', 'Vincent van Gogh', 'Dr. Dr. Matthew Malone', 
                'Rebecca Clark' ] 


last_names = [name.split()[-1] for name in personList]

print(last_names)

['Smith', 'Drake', 'Mason', 'Johnson', 'Williams', 'Walker', 'Frog', 'Franklin', 'John', 'Miller', 'Robertson', 'Robertson', 'White', 'Gogh', 'Malone', 'Clark']

## Question 2. String Manipulation. (6 pts)
Extract the first names from the person list below, and save the result in a list.

In [15]:
personList = [ 'Julia Smith', 'Francis Drake', 'Michael Mason',  
                'Jennifer Johnson', 'John Williams', 'Susanne Walker',  
                'Kermit the Frog', 'Dr. Melissa Franklin', 'Papa John', 
                'Walter John Miller', 'Frank Michael Robertson', 'Richard Robertson', 
                'Erik D. White', 'Vincent van Gogh', 'Dr. Dr. Matthew Malone', 
                'Rebecca Clark' ] 

exclusions = ["Dr.", "Mr.", "Mrs.", "Ms."]

first_names = []

for name in personList:
    p1 = name.split()
    first_name = p1[0]
    index = 0

    while index < len(p1) and p1[index] in exclusions:
        index += 1

    if index < len(p1):
        first_names.append(p1[index])
    else:
        first_names.append("")

print(first_names)

['Julia', 'Francis', 'Michael', 'Jennifer', 'John', 'Susanne', 'Kermit', 'Melissa', 'Papa', 'Walter', 'Frank', 'Richard', 'Erik', 'Vincent', 'Matthew', 'Rebecca']

## Question 3. File read. (6 pts)
The targetted file is located here: https://caleb-huo.github.io/teaching/data/Python/Student_data.csv.
Read in this file and skip the header line ('Name', 'Hobby', 'Year_in_colledge', 'Initial_GPA', 'Study_time').
Prepare the data in the format of a list, with each element of the list being a tuple.
The first element of the list should be ('Dan', 'Football', 'freshman', '3.1', '10'). Print out the result.

In [7]:
import pandas as pd

data = pd.read_csv("https://caleb-huo.github.io/teaching/data/Python/Student_data.csv", header = None, skiprows = 1)
data.head

list(data.itertuples(index=False, name = None))

[('Dan', 'Football', 'freshman', 3.1, 10),
 ('Beth', 'Music', 'sophomore', 3.2, 20),
 ('Carl', 'Basketball', 'senior', 3.6, 14),
 ('Frank', 'Cooking', 'sophomore', 3.4, 16),
 ('Emily', 'Running', 'junior', 3.3, 18),
 ('Amy', 'Swimming', 'senior', 3.0, 15),
 ('Lucas', 'Hiking', 'sophomore', 3.7, 13),
 ('Dave', 'Fishing', 'junior', 3.9, 11),
 ('Ashely', 'Skiing', 'senior', 3.1, 15),
 ('Chris', 'Singing', 'freshman', 3.6, 19)]

## Question 4. List comprehension (6 pts)
Use the knowledge of list comprehension to create a dictionary based on the student list above.
The dictionary key should be students' name, and the value should be GPA in float type. Only output the elements of the dictionary with GPA >= 3.5.

In [9]:
d = dict(data)
d

{0: 0       Dan
 1      Beth
 2      Carl
 3     Frank
 4     Emily
 5       Amy
 6     Lucas
 7      Dave
 8    Ashely
 9     Chris
 Name: 0, dtype: object,
 1: 0      Football
 1         Music
 2    Basketball
 3       Cooking
 4       Running
 5      Swimming
 6        Hiking
 7       Fishing
 8        Skiing
 9       Singing
 Name: 1, dtype: object,
 2: 0     freshman
 1    sophomore
 2       senior
 3    sophomore
 4       junior
 5       senior
 6    sophomore
 7       junior
 8       senior
 9     freshman
 Name: 2, dtype: object,
 3: 0    3.1
 1    3.2
 2    3.6
 3    3.4
 4    3.3
 5    3.0
 6    3.7
 7    3.9
 8    3.1
 9    3.6
 Name: 3, dtype: float64,
 4: 0    10
 1    20
 2    14
 3    16
 4    18
 5    15
 6    13
 7    11
 8    15
 9    19
 Name: 4, dtype: int64}

## Question 5. Class basic. (6 pts)
Based on this student data, create a class Student.
The Student class should have the following 5 attributes:

- Name
- Hobby
- Year_in_colledge
- init_GPA
- study_time

And implement a "introduction()" method for this Student class.
This method should print out the following sentence:

- "Hello, this is XX. I am a XX. My hobby is XX!"

Then please create an object with the information of the first student (i.e., Dan). 
**Then use this introduction method**, we should expect to see the following

- Hello, this is Dan. I am a freshman. My hobby is Football!

Note that you may need to implement more methods for this class for future questions.

In [5]:
## implement your class here. 
## Note that you may need to implement more methods for this class for future questions.

## your code:

In [6]:
## Please create an object with the information of the first student. 
## When using the introduction method.
## You should expect to see:
## Hello, this is Dan. I am a freshman. My hobby is Football!

## your code:

## Question 6. Get GPA (6 pts)
Implement a "getGPA()" method in the Student class in Question 5. 
You can directly append code to Student class in Question 5 instead of creating a new class.
In the "getGPA()" method, 
round the result such that there is only 2 digits after the decimal.
Then constructing a Student object with information of Lucas, and get the GPA for Lucas.

In [7]:
## your code:

## Question 7. Update GPA method. (6 pts) 
Implement a "updateGPA()" method in the Student class in Question 5. 
You can directly append code to Student class in Question 5 instead of creating a new class.
Studying and working hard will be helpful to improve GPA.
In the "updateGPA()" method, the new GPA = old GPA + log10(study_time) - 1.
Note that the new GPA should not be above 4.0.
If it is above, just set it to be 4.0.
Print out Emily's original GPA.
Also print out Emily's GPA aftering studing.

In [8]:
## your code:

## Question 8. Implement a StudyGroup Class. (6 pts)
This StudyGroup Class should have the following attribute:

- students: a list of Student objects

and the following methods:

- add(): add a Student to the StudyGroup class
- get_roster(): print out a list of all student names.

Then create the StudyGroup object, add all 10 students to the StudyGroup object, and finally, print out all students' names as a list.
Note that you may need to implement more methods for this class for future questions.

In [9]:
## implement your class here. 
## Note that you may need to implement more methods for this class for future questions.

## your code:

In [10]:
## Please create an object for the Study Group class.
## Then you may want to add all 10 students to this study group.
## Finally, print all students' name using the get_roster() method.

## your code:

## Question 9. Introduce all students (6 pts)
Implement a introduction_all() method in the StudyGroup class in Question 8. 
You can directly append code to the StudyGroup class in Question 8 instead of creating a new class.
The introduction_all() method should print out the introduction of each student line by line.
The order of the introduction should be the alphabetic order.
For example, the first introduction should come from student Amy.
Show the result below.

In [11]:
## your code:

## Question 10. Get average GPA. (6 pts)
Implement a "get_ave_GPA()" method in the StudyGroup class in Question 8. 
This method will return the average GPA of all students in this class.
**Round the result with 2 digits after the decimal.**
You can directly append code to the StudyGroup class in Question 8 instead of creating a new class.
Then print out the average GPA of all students in this study group.

In [12]:
## your code:

## Question 11. Group Study. (6 pts) 
Implement a "group_study()" method in the StudyGroup class in Question 8. 
This method will let each student in the class study according to their study time.
You can directly append code to the StudyGroup class in Question 8 instead of creating a new class.
Then print out the average GPA after group study.

In [13]:
## your code:

## Question 12. Get highest GPA. (6 pts) 
Implement a "get_high_GPA()" method in the StudyGroup class in Question 8. 
This method will return the GPA and the student's name in the format of dictionary (i.e.,g {name:GPA}).
You can directly append code to the StudyGroup class in Question 8 instead of creating a new class.
Then print out the resulting dictionary (also after group study).

In [14]:
## your code:

## Question 13. Numpy operations. (6 pts)
We have created the following two numpy arrays A and B.
Perform element-wise calculation: |(A-B)/(A+B)|, where || indicates the absolute value.

In [15]:

import numpy as np

A = np.array([[3, 4, 9, 2],
              [5, 3, 2, 5]])
B = np.array([[4, 3, 2, 5],
              [6, 3, 1, 6]])

## your code:

## Question 14. Matrix operations. (6 pts)
Calculate $C = A \times B^\top$.
Print out $C$. 
What is the largest eigenvalues of matrix $C$

In [16]:
## your code:

## Question 15. Matrix margin calculation. (6 pts)
Calculate row_sums and column_means for $A$.
Calculate row_standard deviation and column_variance for $B$.

In [17]:
## your code:

## Question 16. Stacking. (6 pts)
1. Generate a 1D numpy array containing 10 equally spaced values between 5 and 50.
2. Generate a 2D numpy array 2 rows by 10 columns with each element being 1.
3. Generate a 2D numpy array 3 rows by 5 columns with each element being 2.
4. Generate a 2D numpy array 3 rows by 5 columns with each element being -2.
5. Combine the arrays in step 3 and 4 to get a 2D numpy array with 3 rows and 10 columns.
6. Combine the arrays in step 1, 2 and 5 to get a 2D numpy array with 6 rows and 10 columns.
Print out this array (6 rows and 10 columns).

In [18]:
## your code

## Note (4 pts):



### Homework should be uploaded to courseweb:
1. Save your compiled result as html file. Rename the file name as: hw4_Lastname_Firstname.html. To save .ipynb as .html, click file -> save and export Notebook as -> html.
2. Don't forget to write your name on the top of the html file.
3. ipynb file is not required. You only need to upload the html file to the [e-leaning](https://elearning.ufl.edu) website.

### If you generate a figure, please write appropriate figure title, labels, legend if necessary.

### If your code is not intuitive, please write comments to make the code readible.